extends base

block head
  title _app_
  script(type='text/javascript', src='/js/main.js')

block content
  h1.header.logo Why use _app_? Because _app_ is fucking awesome.
  if user
    h2 Logged in as #{user.username}
  else
    div
      a(href='/register') Register
      span  or
      a(href='/login') Login