extends base

block head
  title _app_ — Login

block content
  h1 Login to _app_

  ul.error-msgs
   each msg in messages
    li.error-msg= msg

  div#login
    form(method='POST')
      input(type='hidden', name='_csrf', value=token)
      .field
        label email
        input#email(type='text', name='username')
      .field
        label password
        input#password(type='password', name='password')
      .field
        input#submit(type='submit', value='submit')